body {
  background-color: #ff6600;
  color: #ffcc00;
}

p {
  color: #000000;
}

.specific {
  color: darkslategrey;
}

h1:hover {
  text-decoration: underline;
}

input:hover {
  border: 3px #000000 solid;
}

input:focus {
  background-color: antiquewhite;
}

button:hover {
  background-color: darkgoldenrod;
  color: antiquewhite;
}

button:focus {
  background-color: gold;
}

li:hover {
  background-color: darkslategrey;
  color: #ff6600;
}

li:active {
  background-color: #ffcc00;
  color: #ff6600;
}

a:link {
  color: chocolate;
}

a:visited {
  color: navajowhite;
}

article ol {
  background-color: #ffff99;
}

article ol ol {
  border: 5px chocolate solid;
}

.form {
  color: aqua;
}

.form input {
  background-color: #ffcc00;
  color: cornflowerblue;
  border: 1px #ffff99 solid;
  padding: 10px;
  margin-bottom: 20px;
}

.form input:hover {
  border: 2px #000000 solid;
  color: azure;
}
 .form button {
   background-color: #ffcc00;
   color: #000000;
   font-variant: all-small-caps;
   padding: 10px 20px;
   width: 225px;
 }
