.black {
  background-color: black;
  color: azure;
  width: 50%;
  max-width: 1000px;
}

.darkGrey {
  background-color: dimgrey;
  color: azure;
  width: 20%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.white {
  color: black;
  border: 2px lightsteelblue solid;
  width: 100%;
  height: 50%;
}

a {
  background-color: burlywood;
  display: block;
  width: 50%;
  margin: 0 auto;
}
