body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #ffff99;
  color: #000000;
}

header {
  font-style: italic;
  background: #ffcc00;
  color: #ff6600;
}

h1 {
  padding: 15px;
  border-bottom: 15px #ffff99 solid;
}

p {
  font-weight: bold;
  padding: 20px;
  border: 3px dashed #ff6600;
  margin: 20px;
}

ul, ol {
  font-size: 1.5em;
  font-family: "Arial Narrow",sans-serif;
  color: #ffff99;
  background-color: #ffcc00;
  margin-left: 30px;
}




