body {
  font-family: "century gothic", sans-serif;
  background: #c0c0c00;
}

header {
  font-style: italic;
}

h1, h2 {
  color: #fff000;
}

p {
  color: #c00000;
  text-decoration: underline;
}

ul {
  color: #ff0c00
  background-color: #000000;
}
