body {
  background: #ccffcc;
  color: #336600;
}

header {
  font-family: "Times New Roman", Serif;
  font-style: italic;
  background: #336600;
  color: #ccffcc;
}

p {
  font-weight: bold;
  border: 3px solid;
}

ul, ol {
  font-size: 2em;
  background-color: #ffff99;
}

h1, h2 {
  text-decoration: underline;
}


